@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#wrapper {
  width: 100%;
  padding-left: 0.25em;
  padding-bottom: 15em;

  .header {
    width: 100%;
    height: 100%;

    .introduction {
      width: 90%;
      margin-left: 5%;
      padding-top: 10%;

      display: flex;
      justify-content: center;

      .informacion {
        width: 70%;

        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        h3 {
          font-family: "MonumentExtended-Regular";
          color: rgb(184, 184, 184);
          font-size: 2em;
        }

        h1:nth-of-type(1) {
          font-family: "MonumentExtended-Regular";
          font-size: 6em;
          line-height: 1.2em;
          animation: float 6s ease-in-out infinite;
          -webkit-text-stroke: 1px white;
          color: rgba(255, 255, 255, 0);
        }

        #nombre {
          font-family: "MonumentExtended-Regular";
          font-size: 6em;
          animation: float 6s ease-in-out infinite;
          transition: 0.5s ease;
          color: white;
        }

        #nombre:hover {
          color: yellow;
          transition: 0.5s ease;
        }

        #resumen {
          line-height: 1.5em;
          font-size: 2vh;
          text-align: right;
          padding-right: 15%;
          font-family: "MonumentExtended-Regular";
          color: rgb(184, 184, 184);
          animation: float 9s ease-in-out infinite;
        }

        .linea-animada {
          margin-top: 0.5%;
          margin-bottom: 2%;
          height: 3px;
          width: 10em;
          background-color: rgb(184, 184, 184);
          border-radius: 5px;
        }
      }

      .imagen-introduction {
        display: flex;
        justify-content: right;

        img:nth-of-type(1) {
          width: 90%;
          object-fit: contain;
          opacity: 0.5;
          transition: 0.5s ease;
        }

        img:nth-of-type(2) {
          position: absolute;
          width: 30%;
          object-fit: contain;
          right: 8%;
          opacity: 0.8;
          transition: 0.5s ease;
          animation: float 10s ease-in-out infinite;
        }

        img:nth-of-type(2):hover {
          opacity: 1;
        }
      }
      .imagen-introduction:hover > img:nth-of-type(1) {
        filter: brightness(20%);
      }
    }
  }

  .main {
    width: 100%;
    margin-top: 20%;

    .selected-works {
      width: 80%;
      height: auto;
      margin-left: 10%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-family: "MonumentExtended-Regular";
      color: rgb(184, 184, 184);

      h1 {
        font-size: 2.5em;
        margin-bottom: 5%;
        font-weight: 200;

        b {
          color: white;
        }
      }

      .branding {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;

        @media (max-width: 425px) {
          height: 100%;
        }

        h1 {
          font-size: 2em;
          margin-bottom: 16px;
        }

        .branding-container {
          display: flex;
          width: 100%;
          height: 20em;

          @media (max-width: 425px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: 100%;
          }

          .brand1,
          .brand2 {
            width: 50%;
            height: 100%;

            @media (max-width: 425px) {
              width: 100%;
            }

            a {
              width: 100%;
              height: 100%;
              display: block;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s ease;
                filter: grayscale(100%);
              }
            }
          }

          .brand1:hover,
          .brand2:hover {
            z-index: 1;

            a {
              img {
                transform: scale(1.02);
                filter: none;
              }
            }
          }
        }
      }

      .advertising {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;

        @media (max-width: 425px) {
          height: 100%;
        }

        h1 {
          font-size: 2em;
          margin-bottom: 16px;
        }

        .adv-container {
          display: flex;
          width: 100%;
          height: 20em;

          @media (max-width: 425px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: 100%;
          }

          .adv1,
          .adv2 {
            width: 50%;
            height: 100%;

            @media (max-width: 425px) {
              width: 100%;
            }

            a {
              width: 100%;
              height: 100%;
              display: block;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s ease;
                filter: grayscale(100%);
              }
            }
          }

          .adv1:hover,
          .adv2:hover {
            z-index: 1;

            a {
              img {
                transform: scale(1.02);
                filter: none;
              }
            }
          }
        }
      }

      .illustration {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;

        @media (max-width: 425px) {
          height: 100%;
        }

        h1 {
          font-size: 2em;
          margin-bottom: 16px;
        }

        .illust-container {
          display: flex;
          width: 100%;
          height: 20em;

          @media (max-width: 425px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: 100%;
          }

          .ill1,
          .ill2 {
            width: 50%;
            height: 100%;

            @media (max-width: 425px) {
              width: 100%;
            }

            a {
              width: 100%;
              height: 100%;
              display: block;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                transition: 0.5s ease;
                filter: grayscale(100%);
              }
            }
          }

          .ill1,
          .ill2 {
            a {
              img {
                object-position: 50% 20%;
              }
            }
          }

          .ill1:hover,
          .ill2:hover {
            z-index: 1;

            a {
              img {
                transform: scale(1.02);
                filter: none;
              }
            }
          }
        }
      }

      .texto-final {
        width: 100%;
        display: flex;
        justify-content: right;

        p {
          font-weight: 200;
          font-size: 2.5em;

          a {
            strong {
              font-weight: 500;
              color: white;
              text-decoration-color: rgb(184, 184, 184);
              text-decoration-line: line-through;
              text-decoration-style: solid;
              animation: text-shadow-drop-center-back 0.6s both;
              transition: 0.5s ease-out;
            }

            strong:hover {
              transition: 0.5s ease-out;
              color: yellow;
              animation: text-shadow-drop-center 0.6s both;
            }
          }
        }
      }
    }

    .lets-talk-contact {
      padding-top: 8%;
      display: block;
      width: 30em;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.1;
      }

      p {
        width: 25em;
        color: rgb(184, 184, 184);
        font-family: "MonumentExtended-Regular";
        position: absolute;
        font-size: 2.5em;
        display: block;
        font-weight: 200;

        a {
          font-family: "MonumentExtended-Regular";
          transition: color 0.6s linear;
          display: block;
          color: white;
          display: inline-block;
          font-weight: 500;
          animation: text-shadow-drop-center-back 0.6s both;
        }

        a:hover {
          color: yellow;
          transition: color 0.5s linear;
          animation: text-shadow-drop-center 0.6s both;
        }
      }
    }
  }

  @keyframes text-shadow-drop-center {
    /* Animación que se ejecuta cuando haces :hover sobre un elemento, añadiendole una sombra */
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      text-shadow: 0 0 25px rgba(255, 255, 255, 0.756);
    }
  }

  @keyframes text-shadow-drop-center-back {
    /* Animación que se ejecuta cuando quitas :hover sobre un elemento, añadiendole una sombra */
    from {
      text-shadow: 0 0 25px rgba(255, 255, 255, 0.756);
    }

    to {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-10px);
      transform: translateX(-10px);
    }

    100% {
      transform: translatey(0px);
    }
  }
}
